/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header {
    padding-left: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    line-height: 50px;
}

.main-title {
    display: inline-block;
    font-size: 2.5rem;
    vertical-align: middle;
}

.img-logo {
    vertical-align: middle;
}

/* MAIN */

.main-container {
    background-color: #f6f8f9;
    height: 1000px;
    padding-top: 30px;
}

.taskbar {
    margin: 0 auto;
    height: 5%;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 60px;
}

.add-task {
    color: #fff;
    background-color: #47adf1;
    border-radius: 5px;
    padding: 5px 15px;
}

.add-section  {
    padding-left: 10px;
    border: 2px solid #d6dade;
    padding: 5px 15px;
    margin-left: 7px;
    border-radius: 5px;
    color: #d4d8dc;
}

.main-content {
    margin: 0 auto;
    height: 90%;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 60px;
    margin-top: 3px;
}

/* LIST */

.todo-list {
    margin-bottom: 30px;
}

.list-title  {
    font-size: 1.5rem;
}

.main-list {
    list-style-position: inside;
    list-style-type: none;
    margin-top: 10px;
    font-size: 20px;
}

.list-item {
    padding-top: 20px;
}

.entity-style {
    border-radius: 50%;
    font-size: 10px;
    width: 20px;
    display: inline-block;
    height: 20px;
    text-align: center;
    margin-right: 5px;
}

.check-list {
    border: 2px solid #8cd2c3;
    color: green;
}


.cross-list {
    border: 2px solid #ef908b;
    color: red;
}

.list-marker {
    font-size: small;
}
/*  BANNERS */

.banner {
    font-size: small;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
}

.editorial {
    background-color: #44a9e9;
}

.q1-goals {
    background-color: #9b71e3;
}

.recruiting {
    background-color: #64bfa8;
}

.mobile {
    background-color: #f29d32;
}

.website {
    background-color: #d8629f;
}

.sales {
    background-color: #b0c927;
}



