/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header {
    padding-left: 8px;
    padding-top: 5px;
}

.main-title {
    display: inline-block;
    font-size: 2.5rem;
}

/* MAIN */

.main-container {
    background-color: #f6f8f9;
    height: 1000px;
    padding-top: 30px;
}

.taskbar {
    margin: 0 auto;
    height: 5%;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 60px;
}

.add-task {
    color: #fff;
    background-color: #47adf1;
    border-radius: 5px;
    padding: 5px;
}

.add-section  {
    padding-left: 10px;
    border: 2px solid #d6dade;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    margin-left: 7px;
    border-radius: 5px;
    color: #d4d8dc;
}



